<div class="address-wrapper">
    {% if errors %}
        <div class="address-error">
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="address-manager">
        {% block content %}{% endblock %}
    </div>
</div>